__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

*.log
logs/

db.sqlite3
db.sqlite3-journal

/media/
/staticfiles/
temporar-facturi/
products/Mesaje/

.env
.env.local

venv/
env/
.venv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

postgre.txt
backup_db.bat
tree.txt
*.docx
*.pdf
*.drawio
*.png
!products/static/products/images/logo.png

imagini_produse/
examen/
Pipfile.lock