__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

.env
.env.local

venv/
env/
.venv/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

*.docx
*.pdf

imagini_produse/

*.drawio
*.png
secured.drawio
secured.png