[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-colorfield = "*"
pillow = "*"
psycopg2 = "*"
python-decouple = "*"
django-apscheduler = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
